.about {
  color: $white-cl;

  &__container {
    @include flexContainer(space-between);
    gap: 5rem;

    @media only screen and (max-width: 48em) {
      flex-direction: column;
    }
  }

  &__content {
    flex-basis: 60%;

    & * + * {
      margin-top: 3rem;
    }
  }
}

.technologies {
  font-weight: 600;
}
