.projects {
  width: 100%;
  background: url(/public/images/projects.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;

  &__menu {
    display: flex;
    justify-content: center;

    ul {
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      background-color: rgba(255, 255, 255, 0.2);
    }

    ul li {
      color: $white-cl;
      cursor: pointer;
    }
  }

  &__container {
    width: 90%;
    margin-inline: auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    & > div {
      width: 35rem;
      height: 40rem;
      flex: 1 1 auto;
    }
  }
}
