.heading__primary {
  font-size: 5rem;
  color: $ligth-blue-cl--1;
  max-width: 70rem;
  margin-bottom: 3rem;

  @media only screen and (max-width: 81.25em) {
    font-size: 4rem;
  }
}

.heading__secondary {
  position: relative;
  font-family: "Montserrat", cursive;
  font-weight: 400;
  font-size: 3rem;
  color: $dark-cl;
  padding-bottom: 1rem;
  letter-spacing: 0.3rem;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 5rem;
    height: 3px;
    background-color: $ligth-green-cl--1;
  }

  &--white {
    font-family: "Montserrat", cursive;
    font-size: 3rem;
    color: $white-cl;
  }
}

.heading__tertiary {
  font-size: 2rem;
  color: $ligth-green-cl--1;
}
