.mb-medium {
  margin-bottom: 2rem;
}

.mt-medium {
  margin-top: 3rem;
}

.mt-large {
  margin-top: 5rem;
}

.centar-text {
  text-align: center;
}

.section {
  padding: 5rem;

  @media only screen and (max-width: 30em) {
    padding: 3rem;
  }
}

.container {
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: 2rem;
}
