*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: rgb(46, 46, 46);
  line-height: 1.7;
}

.section {
  padding: 8rem 2rem;
}
@media only screen and (max-width: 30em) {
  .section {
    padding: 5rem 1rem;
  }
}

.heading__primary {
  font-size: 3.2rem;
  color: #c63535;
}

.heading__secondary {
  font-family: "Architects Daughter", cursive;
  font-size: 3rem;
  color: rgb(46, 46, 46);
  letter-spacing: 0.3rem;
}
.heading__secondary--projects {
  font-family: "Architects Daughter", cursive;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.heading__tertiary {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.heading__tertiary--footer {
  color: rgb(235, 160, 21);
}

.paragraph {
  font-size: 1.6rem;
}

.html,
.css,
.java,
.script {
  font-weight: 600;
}

.html {
  color: rgb(66, 66, 218);
}

.css {
  color: rgb(235, 69, 39);
}

.java {
  color: rgb(255, 224, 46);
}

.script {
  color: rgb(0, 0, 0);
}

.mb-medium {
  margin-bottom: 2rem;
}

.mt-large {
  margin-top: 5rem;
}

.centar-text {
  text-align: center;
}

.btn {
  width: 15rem;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.3rem 0;
  margin-top: 3rem;
  border: none;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.5rem);
}
.btn:active {
  transform: translateY(0);
}
.btn__header {
  background: linear-gradient(90deg, rgb(235, 160, 21), rgb(238, 74, 36));
}
.btn__card {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(145, 145, 145));
  color: rgb(255, 255, 255);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem;
  transition: all 0.3s ease;
}
.card__side {
  height: 30rem;
  width: 100%;
  text-decoration: none;
  color: rgb(235, 160, 21);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.8s ease;
}
.card__side--front {
  box-shadow: 0.3rem 0.3rem 0.9rem rgba(106, 106, 106, 0.7);
}
.card__side--front--1 {
  background: rgb(59, 121, 217);
}
.card__side--front--2 {
  background: rgb(217, 59, 59);
}
.card__side--front--3 {
  background: rgb(49, 200, 80);
}
.card__side--front--4 {
  background: rgb(200, 57, 117);
}
.card__side--back {
  background: linear-gradient(120deg, rgb(235, 160, 21), rgb(238, 74, 36));
  padding: 2rem;
  text-align: center;
  box-shadow: 0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.card__side--back a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__img {
  width: 100%;
  height: 20rem;
}
.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__content {
  padding: 2rem;
}
.card__para {
  color: rgb(255, 255, 255);
}
.card__click {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 110px;
  height: 110px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 140px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgb(0, 0, 0);
  position: absolute;
  top: 34px;
  right: -27px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 10000;
}
.popup--show {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease 0.1s;
}
.popup__container {
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__img {
  width: 100%;
  height: 100%;
}
.popup__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.popup__close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}
.popup__close .fas {
  font-size: 2.6rem;
  color: rgb(255, 255, 255);
}
.popup .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.footer {
  padding: 4rem;
  background: rgb(0, 0, 0);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}
.footer__box {
  color: rgb(255, 255, 255);
}
.footer__box > p {
  font-size: 1.4rem;
}
.footer__socials {
  display: flex;
}
.footer__socials * + * {
  margin-left: 2rem;
}
.footer__social * i {
  font-size: 2rem;
  color: rgb(235, 160, 21);
}
.footer__email {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}
.footer__email:hover {
  text-decoration: underline;
}
.footer__email--icon {
  color: rgb(235, 160, 21);
}
.footer__copyright {
  font-size: 1.4rem;
  color: rgb(145, 145, 145);
}

.header {
  height: calc(100vh - 8rem);
  max-width: 100%;
  background-image: url(/public/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}
.header__container {
  width: 120rem;
  max-width: 90%;
  margin-inline: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__box {
  width: 60rem;
  max-width: 90%;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
  background: rgb(0, 0, 0);
  position: relative;
}
@media only screen and (max-width: 30em) {
  .header__box {
    max-width: 100%;
  }
}
.header__box::after, .header__box::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: rgb(235, 160, 21);
  z-index: -1;
}
.header__box::after {
  top: -0.7rem;
  left: -0.7rem;
}
.header__box::before {
  bottom: -0.7rem;
  right: -0.7rem;
}
.header__para {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}

.nav {
  width: 100%;
  height: 8rem;
  padding: 1.3rem 4rem;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
.nav__sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.nav__opacity {
  opacity: 0;
}
.nav__logo {
  width: 17rem;
  height: 8rem;
  cursor: pointer;
}
.nav__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav__list {
  list-style: none;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .nav__list {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: rgb(0, 0, 0);
    border: 3px solid rgb(81, 81, 81);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    z-index: 100;
  }
}
.nav__list--active {
  visibility: visible;
  height: 40rem;
  opacity: 1;
}
.nav__list * + * {
  margin-left: 2.3rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__list * + * {
    margin-left: 0;
    margin-top: 4rem;
  }
}
.nav__item {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: transform 0.3s ease;
}
.nav__item:hover {
  transform: translateX(-0.3rem);
}
@media only screen and (max-width: 56.25em) {
  .nav__item {
    font-size: 1.6rem;
  }
}
.nav__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: rgb(235, 160, 21);
}
.nav__bar {
  display: none;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .nav__bar {
    display: block;
  }
}
.nav__bars {
  position: relative;
  width: 5rem;
  height: 2px;
  background: rgb(255, 255, 255);
}
.nav__bars::after {
  content: "";
  width: 3rem;
  height: 2px;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  background: rgb(255, 255, 255);
}

.about {
  background: rgb(255, 255, 255);
}
.about__container {
  width: 110rem;
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
@media only screen and (max-width: 48em) {
  .about__container {
    flex-direction: column;
  }
}
.about__col--1 {
  flex-basis: 45%;
}
.about__col--1 * + * {
  margin-top: 3rem;
}
.about__col--2 {
  display: flex;
  justify-content: flex-end;
}
.about__col--2 img {
  display: block;
  max-width: 100%;
}

.projects {
  padding: 8rem 0;
  width: 100%;
  background: url(/public/images/projects.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}
.projects__container {
  width: 90%;
  margin-inline: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;
}
@media only screen and (max-width: 48em) {
  .projects__container {
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    grid-gap: 3rem;
  }
}

.skills {
  position: relative;
  background: linear-gradient(120deg, rgb(74, 74, 74), rgb(255, 255, 255));
  height: 65vh;
}
.skills__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 10rem;
}
.skills__img {
  width: 8rem;
  height: 8rem;
}
.skills__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=App.css.map */