// FONT SIZE
$default-fs: 1.6rem;
$small-fs: 1.4rem;

// COLORS
$white-cl: rgb(255, 255, 255);
$black-cl: rgb(0, 0, 0);
$blue-cl: rgb(44, 105, 141);

$ligth-blue-cl--1: rgb(227, 246, 245);
$ligth-blue-cl--2: rgb(186, 232, 232);
$ligth-green-cl--1: rgb(144, 238, 144);
$ligth-green-cl--2: rgb(110, 160, 110);

$dark-cl: rgb(46, 46, 46);
$dark-blue-cl: rgb(39, 38, 67);

// BASE
$nav-ht: 8rem;
$container-width: 110rem;
