.btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.3rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0.5rem;
  color: $white-cl;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &:active {
    transform: translateY(0);
  }

  &__book {
    margin-top: 3rem;
    padding: 2rem;
    color: $white-cl;
    background: $ligth-green-cl--2;
  }

  &__card {
    background: $ligth-blue-cl--2;
    color: $dark-cl;
  }
}
